$font-color = #6c5b7c
$font-color-hover = #2d8cf0
$border-color = #EEEEEE
$box-shadow = 0 1px 20px -6px rgba(0,0,0,.5)
$box-shadow-hover = 0 5px 10px 5px rgba(110,110,110,.4)
$placeholder-color = rgba(108, 91, 124, 0.8)
